HEAD
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.header .svg-container{
    width: 100px;   
    display: flex; 
    margin-right: 50px;
}
.svg-container img{
    width: 100%;
}
nav {
    display: flex;
    width: 20%;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0 0 0 10%;
    list-style: none;
    text-align: center;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: yellow;
}
.content{
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 245, 245);
}
.content .leftbar{
    position: sticky;
    width: 70%;
    top: 40px;
    height: 500px;
    overflow: auto;
    margin: 0 4%;
    background-color: white;
}
.content .leftbar h3{
    padding: 40px 50px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color:blue;
    border-bottom: 2px solid rgb(255, 0, 0);
}
.content .leftbar div{
    padding: 40px 50px;
    text-align: center;
    border: 1px solid rgb(204, 204, 204 ,0.5);
}
.content .leftbar div:hover{
    background-color: #e2dfdf;
}
.content .leftbar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.content .git-commands{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    padding: 50px 5%;
    border: 1px solid rgb(226, 226, 226);
    gap: 20px;    
    background-color: white;

}
.git-commands h1{
    font-size: 30px;
}
.git-commands h2{
    font-size: 28px;
    margin-top: 50px;
}
.git-commands h3{
    font-size: 24px;
    margin: 5px 0;
    word-spacing: 2px;
}
.git-commands div{
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    word-spacing: 2px;

}
.git-commands div span{
    font-size: 23px;
    font-weight: bold;
    color: rgb(184, 44, 44);
}
.git-commands ul{
    display: flex;
    flex-direction: column;
    list-style-type: circle;
    gap: 15px;
    font-size: 25px;
    padding-left: 25px;
    margin: 10px 0;
}
.git-commands ul li a{
    text-decoration: none;
    color: rgb(32, 32, 211);
    transition: 0.5s;
}
.git-commands ul li a:hover{
    color: red;
    transform: scale(2);
}
.git-commands img{
    width: 100%;
}
.code{
    background-color: rgb(192, 187, 187);
    padding: 10px;
    border-left: 10px solid blue;
}

@media only screen and (max-width: 1600px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .content .git-commands{
        width: 80%;
        margin: 0 auto;
    }
    .content .leftbar{
        width: 80%;
        margin: 0 auto 50px;
        position: unset;
    }
}
@media only screen and (max-width: 1000px){
    .content .leftbar a{
        font-size: 14px;
    }
    .content .git-commands h1{
        font-size: 20px;
    }
    .content .git-commands h2{
        font-size: 18px;
    }
    .content .git-commands h3{
        font-size: 17px;
    }
    .content .git-commands div{
        font-size: 15px;
    }
    .content .git-commands div span{
        font-size: 15px;
    }
    .content .git-commands ul{
        font-size: 16px;
    }
}

  
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}
.footer .social-media{
    padding-top: 50px;
    display: flex;
    gap: 100px;
}
.footer .contact-us{
    margin: 50px 0;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 22px;
}
.footer .contact-us p:first-child{
    margin-top: 20px;
}
.footer .contact-us a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.footer .contact-us a:hover{
    color: red;
}
